[v-cloak] {
    display: none;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
    margin-left: 25px;
}

header p {
    margin-top: 8px;
    margin-bottom: 8px; 
}

#background {
    display: flex;
    flex-direction: row;
}

#slotMachine {
    width: 600px;
    margin-left: 100px;
    border: 5px dotted black;
    display: inline-block;
    background-color: red;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

#wagerPanel {
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    background: slategray;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wager, #funds {
    width: 25%;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background: white;
}
.display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}
.slot {

    height: 80px;
    width: 80px;
    background-color: yellow;
    font-family: Consolas;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}
#slotsDisplay {
    background-color: whitesmoke;
    border: 2px solid gray;

    margin: 10px;
    border-radius: 5px;
}
#bottom-panel{
    padding: 5px;
    height: 60px;
    box-sizing: border-box;
    background-color: ghostwhite;
}

#output-message {
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.jackpotMsg {
    background-color: lightgreen;
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: red;
}

#lever {
    display: inline-block;
    width: 10px;
    border: 2px solid black;
}

#lever, #lever button {
    background-color: darkgoldenrod;
    font-weight: bold;
    border-radius: 10px;
    border-color: goldenrod;
}

#lever button {
    position: relative; 
    left: -20px;
    top: -5px;
}
#hinge {
    display:flex; 
    align-items:flex-end;
    color: darkgoldenrod;
}

#playAgain {
    border: 2px solid orange;
    font-size: 24px;
    padding: 15px;
    background-image: radial-gradient(goldenrod,  yellow);
    border-radius: 5px;
    border-style: outset;
    display: table;
    position: fixed;
    left: 130px;
    top: 190px;
}

#reset {
    margin-left: 10px;
    height: 50px;
    width:50px;
    background-color: lightgreen;
    border-radius: 5px;
    font-weight: bold;
}

#wagerMsg {
    display: table-cell;
    position: absolute;
    top: 195px; 
    left: 130px;
    padding: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    border: 1px solid black;
}


footer {
    margin-top: 100px;
}